@media screen and (max-width: 1163px){
    .googleMap{
        height:90%;
        width:90%;
    }

    .dContent{
        height: 600px;
        width:90%;
    }

}

@media screen and (min-width: 1163px){
    .dealPopUpTitle{
        height: 600px;
    }
}