img {
  width: 100%;
}

.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* 'Browse By Category' page CSS */
.category-card-img {
  width: 100%;
  height: 35vh;
  background-color: white;
}

.category-card-nameBox {
  width: 100%;
  height: auto;
  background-color: rgb(90, 235, 90);
}

.category-card-name {
  color: white;
  font-family: Roboto;
  font-size: 30px;
}

.category-card-botBox {
  width: 100%;
  height: 25px;
  background-color: white;
}

.category-title {
  font-family: Roboto;
}

/* Product Card component CSS */
.product-card-img {
  width: 100%;
  height: 30vh; /* Important for keeping all products cards the same height */
}

.product-card-name {
  display: block;
  width: 100%;
  background-color: #f6f4f5;
  font-family: Roboto;
  font-size: 15px;
}

.product-card-btn {
  width: 25%;
  height: auto;
  background-color: rgb(90, 235, 90); /* Color of the button */
  color: white;
}

.product-card-price {
  width: 75%;
  background-color: #f6f4f5;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
