<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SpartanStop.com | Product Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- left column -->
            <div class="col">
                Product Image
            </div>
            <!-- right column -->
            <div class="col">
                <!-- Product attributes -->
                <div class="product-description">
                    <a href="#" class="">Brand</a>
                    <h3>Product Name</h3>
                    <p>Product Description</p>
                </div>

                <!-- purchase quantity -->
                <div class="quantity">
                    Quantity: <input type="number" name="quantity" min="1">
                </div>

                <div class="product-price">
                    <span>$10</span>
                    <button type="button" class="btn btn-primary">Add to cart</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <h5>Related Products</h5>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="">Product Name</a><br>
                            <span>$5</span><br>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="">Product Name</a><br>
                            <span>$5</span><br>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="">Product Name</a><br>
                            <span>$5</span><br>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>