@keyframes fadeIn {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  position: relative;
  animation: fadeIn;
  animation-duration: 1s;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 1.5s;
}

.background-slideshow {
  background-image: url(./SF.jpg);
  background-size: cover;
}

.flexbox-center {
  display: flex;
  justify-content: center;
}

.withPageMargin {
  margin-left: 150px;
  margin-right: 150px;
}

.noYMarginPadding {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
