@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  position: relative;
  animation: fadeIn;
  animation-duration: 1.5s;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 1.5s;
}

@keyframes moveUp {
  from {
    bottom: 0px;
  }
  to {
    bottom: 7px;
  }
}

@keyframes moveDown {
  from {
    bottom: 7px;
  }
  to {
    bottom: 0px;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.mouseHover:hover {
  position: relative;
  animation: moveUp;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.mouseHover {
  position: relative;
  animation: moveDown;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
