@media screen and (max-width: 330px){
    .seeRoomBtn {
      width: 100%;
      /* variant="contained" */
      border: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      height: 38px;
      border-radius: 12px;
      background-color: #568cba;
      color: white;
      /* width: 120px; */
    
    }

    .bookBtn{
        height:100%;
        width: 100%;
        overflow: hidden;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        /* height: 38px; */
        border-radius: 12px;
        background-color: #0c4b78;
        color: white;
    }

    .bookBtnShrt{
        display:none;
    }

    .priceAndRate{
        display:none;
    }

    .maps{
        height:400px;
      }

    .hotelName{
      font-size: 30px;
      font-weight: 550;
    }
  
    .hotelAdd{
      font-size: 14px;
      font-weight: 450;
      color: #808080;
    }

    .hotelStarShrt{
      display:none;
    }

    .otherRating{
      font-size: 24px;
      font-weight: 200;
    }

    .singleRate{
      display:none;
    }
}


@media screen and (min-width: 330px) and (max-width: 372px){
    .seeRoomBtn {
        width: 100%;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        height: 38px;
        border-radius: 12px;
        background-color: #568cba;
        color: white;
        /* width: 120px; */
      
      }
  
      .bookBtn{
        display:none;
      }
  
      .bookBtnShrt{
          height:100%;
          width: 100%;
          overflow: hidden;
          /* variant="contained" */
          border: none;
          margin: 4px 2px;
          cursor: pointer;
          font-size: 12px;
          font-weight: 400;
          /* height: 38px; */
          border-radius: 12px;
          background-color: #0c4b78;
          color: white;
      }

      .priceAndRate{
        display:none;
    }

    .maps{
        height:400px;
      }
      
    .hotelName{
      font-size: 30px;
      font-weight: 550;
    }
    
    .hotelAdd{
      font-size: 14px;
      font-weight: 450;
      color: #808080;
    }

    .hotelStarShrt{
      display:none;
    }

    .otherRating{
      font-size: 24px;
      font-weight: 200;
    }

    .singleRate{
      display: none;
    }
}

@media screen and (min-width: 372px) and (max-width: 393px){
  .seeRoomBtn {
      width: 100%;
      /* variant="contained" */
      border: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      height: 38px;
      border-radius: 12px;
      background-color: #568cba;
      color: white;
      /* width: 120px; */
    
    }

    .bookBtn{
      height:100%;
      width: 100%;
      overflow: hidden;
      /* variant="contained" */
      border: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 400;
      /* height: 38px; */
      border-radius: 12px;
      background-color: #0c4b78;
      color: white;
    }

    .bookBtnShrt{
      display:none;
    }

    .priceAndRate{
      display:none;
  }

  .maps{
      height:400px;
    }

  .hotelName{
    font-size: 30px;
    font-weight: 550;
  }
  
  .hotelAdd{
    font-size: 16px;
    font-weight: 450;
    color: #808080;
  }

  .hotelStarShrt{
    display:none;
  }

  .otherRating{
    font-size: 24px;
    font-weight: 200;
  }

  .singleRate{
    display: none;
  }
}

@media screen and (min-width: 393px) and (max-width: 440px){
    .seeRoomBtn {
        width: 100%;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        height: 38px;
        border-radius: 12px;
        background-color: #568cba;
        color: white;
        /* width: 120px; */
      
      }
  
      .bookBtn{
        height:100%;
        width: 100%;
        overflow: hidden;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        /* height: 38px; */
        border-radius: 12px;
        background-color: #0c4b78;
        color: white;
      }
  
      .bookBtnShrt{
        display:none;
      }

      .priceAndRate{
        display:none;
    }

    .maps{
        height:400px;
      }

    .hotelName{
      font-size: 30px;
      font-weight: 550;
    }
    
    .hotelAdd{
      font-size: 16px;
      font-weight: 450;
      color: #808080;
    }

    .hotelStarShrt{
      display:none;
    }

    .otherRating{
      font-size: 20px;
      font-weight: 200;
    }

    .doubleRate{
      display: none;
    }
}

@media screen and (min-width: 440px) and (max-width: 482px){
    .seeRoomBtn {
        width: 100%;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        height: 38px;
        border-radius: 12px;
        background-color: #568cba;
        color: white;
        /* width: 120px; */
      
      }
  
      .bookBtn{
        display:none;
      }
  
      .bookBtnShrt{
        height:100%;
        width: 100%;
        overflow: hidden;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        /* height: 38px; */
        border-radius: 12px;
        background-color: #0c4b78;
        color: white;
      }

      .priceAndRate{
        display:none;
    }

    .maps{
        height:400px;
    }

    .hotelName{
      font-size: 35px;
      font-weight: 550;
    }
    
    .hotelAdd{
      font-size: 20px;
      font-weight: 450;
      color: #808080;
    }

    .hotelStarShrt{
      display:none;
    }

    .otherRating{
      font-size: 20px;
      font-weight: 200;
    }

    .doubleRate{
      display: none;
    }
}

@media screen and (min-width: 482px) and (max-width: 991px){
    .seeRoomBtn {
        width: 100%;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        height: 38px;
        border-radius: 12px;
        background-color: #568cba;
        color: white;
        /* width: 120px; */
      
      }
  
      .bookBtn{
        display:none;
      }
  
      .bookBtnShrt{
        height:38px;
        width: 100%;
        overflow: hidden;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        /* height: 38px; */
        border-radius: 12px;
        background-color: #0c4b78;
        color: white;
      }

      .priceAndRate{
        display:none;
      }

      .maps{
        height:400px;
      }

      .hotelName{
        font-size: 38px;
        font-weight: 550;
      }
      
      .hotelAdd{
        font-size: 22px;
        font-weight: 450;
        color: #808080;
      }

      .hotelStarShrt{
        display:none;
      }

      .otherRating{
        font-size: 20px;
        font-weight: 200;
      }

      .doubleRate{
        display: none;
      }
}

@media screen and (min-width: 992px) and (max-width: 1163px){
    .seeRoomBtn {
        width: 100%;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        height: 38px;
        border-radius: 12px;
        background-color: #568cba;
        color: white;
        /* width: 120px; */
      
      }
  
      .bookBtn{
        height:38px;
        width: 50%;
        overflow: hidden;
        /* variant="contained" */
        border: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        /* height: 38px; */
        border-radius: 12px;
        background-color: #0c4b78;
        color: white;
      }
  
      .bookBtnShrt{
        display:none;
      }

      .priceAndRateHeader{
          display:none;
      }

      .maps{
        height:660px;
      }

      .hotelName{
        font-size: 40px;
        font-weight: bold;
      }
  
      .hotelAdd{
        font-size: 24px;
        font-weight: 450;
        color: #808080;
      }

      .hotelStar{
        display:none;
      }

      .otherRating{
        font-size: 16px;
        font-weight: 200;
      }
}

@media screen and (min-width: 1163px){
  .seeRoomBtn {
      width: 100%;
      /* variant="contained" */
      border: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      height: 38px;
      border-radius: 12px;
      background-color: #568cba;
      color: white;
      /* width: 120px; */
    
    }

    .bookBtn{
      height:38px;
      width: 50%;
      overflow: hidden;
      /* variant="contained" */
      border: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      /* height: 38px; */
      border-radius: 12px;
      background-color: #0c4b78;
      color: white;
    }

    .bookBtnShrt{
      display:none;
    }

    .priceAndRateHeader{
        display:none;
    }

    .maps{
      height:660px;
    }

    .hotelName{
      font-size: 40px;
      font-weight: bold;
    }

    .hotelAdd{
      font-size: 24px;
      font-weight: 450;
      color: #808080;
    }

    .hotelStarShrt{
      display:none;
    }

    .otherRating{
      font-size: 20px;
      font-weight: 200;
    }
}