/* X-Small Screen */
@media screen and (max-width: 600px) {
  .HistoryPageHotelName {
    font-size: 18px;
    font-weight: 300;
    color: black;
  }

  .HistoryPageDestinationName {
    font-size: 16px;
    font-weight: 300;
    color: grey;
  }

  .HistoryPageTotal {
    display: none;
    top: 27px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }
  .HistoryPageTotalSmall {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    color: black;
  }

  .chipsAndTotal {
    display: none;
  }

  .HistoryPageText2 {
    font-size: 12px;
    font-weight: 300;
  }

  .historyHotelImage {
    width: 90%;
  }

  .HistoryContainerHotelName {
    width: 100%;
  }

  .HistoryContainerDates {
    width: 270px;
    margin-bottom: 20px;
    position: relative;
    left: 5px;
    align-content: center;
    align-items: center;
    align-self: center;
  }
}

/* Small Screen */
@media screen and (min-width: 600px) and (max-width: 960px) {
  .HistoryPageHotelName {
    font-size: 16px;
    font-weight: 300;
    color: black;
  }

  .HistoryPageDestinationName {
    font-size: 14px;
    font-weight: 300;
    color: grey;
  }

  .HistoryPageTotal {
    display: none;
    top: 27px;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: black;
  }

  .chipsAndTotal {
    display: none;
  }
  .HistoryPageText2 {
    font-size: 10px;
    font-weight: 300;
  }

  .historyHotelImage {
    width: 150px;
  }

  .HistoryContainerHotelName {
    width: 240px;
  }

  .HistoryContainerDates {
    width: 230px;
  }

  .HistoryContainer {
    min-height: 600px;
  }
}

/* Medium Screen (Landscape Phones, Tablets) */
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .HistoryPageHotelName {
    font-size: 20px;
    font-weight: 300;
    color: black;
  }

  .HistoryPageDestinationName {
    font-size: 18px;
    font-weight: 300;
    color: grey;
  }

  .HistoryPageTotal {
    top: 27px;
    position: relative;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: black;
  }

  .chipsAndTotalSmall {
    display: none;
  }

  .HistoryPageText2 {
    font-size: 14px;
    font-weight: 300;
  }

  .historyHotelImage {
    width: 180px;
  }

  .HistoryContainerHotelName {
    width: 290px;
  }

  .HistoryContainerDates {
    width: 280px;
  }

  .HistoryContainer {
    min-height: 600px;
  }
}

/* Large Screen (Laptops, Desktop monitors) */
@media screen and (min-width: 1200px) {
  .HistoryPageHotelName {
    font-size: 22px;
    font-weight: 300;
    color: black;
  }

  .HistoryPageDestinationName {
    font-size: 20px;
    font-weight: 300;
    color: grey;
  }

  .HistoryPageTotal {
    top: 27px;
    position: relative;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  .chipsAndTotalSmall {
    display: none;
  }

  .historyHotelImage {
    width: 250px;
  }

  .HistoryContainerHotelName {
    width: 330px;
  }

  .HistoryContainerDates {
    width: 340px;
  }

  .buttonContainer {
    width: 150px;
  }

  .HistoryContainer {
    min-height: 600px;
  }
}

.HistoryBoxes {
  height: 150px;
}

#HistoryContainerTitle {
  color: #3d4e96;
  font-size: 34px;
  font-weight: 900;
  position: relative;
  top: 45px;
  text-align: center;
}

.rewardsPointsBalance {
  color: #3d4e96;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 25px;
}
