.HistoryBoxes {
  height: 150px;
}

#HistoryContainerTitle {
  color: #0c4b78;
  font-size: 34px;
  font-weight: 900;
  position: relative;
  top: 45px;
  text-align: center;
}

.HistoryPageHotelName {
  font-size: 22px;
  font-weight: 300;
  color: black;
}

.HistoryPageDestinationName {
  font-size: 20px;
  font-weight: 300;
  color: grey;
}

.HistoryPageTotal {
  top: 27px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.HistoryPageDates {
  top: 17px;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.HistoryPageText2 {
  font-size: 16px;
  font-weight: 300;
}

.historyHotelImage {
  width: 250px;
}
